*{
    padding: 0;
    margin: 0;
}

header{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    background-color: #10151A;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

nav{
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 40%;
    font-size: medium;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

.logo{
    margin-left: 10%;
    height: 100px;
    width: 20%;
    display: flex;
    align-content: center;
}

.logo a{
    text-decoration: none;
    color: #ffffff;
}

footer{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #10151A;
}

.test{
    height: 600px;
}