* {
    padding: 0;
    margin: 0;
}

header {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #10151A;
    font-family: "Montserrat", sans-serif;

}

main {
    width: 100%;
     height: 76.2vh; 
}

nav {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100px;
    display: flex;
    width: 75%;
    gap: 30px;


}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px 0px 0px 20px;

}



footer {
    color: #ffffff;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #10151A;

}